<f:layout name="Default" />
<f:section name="main">

<p>Finden Sie Namen und Kontaktangaben von beteiligten Personen in der Kontaktliste.</p>

<f:form name="filter" action="list" controller="Person" pluginName="List" pageUid="{settings.PidSearch}">
  <f:form.hidden name="sent" value="1" />
  <label for="team" class="sr-only">Gruppe</label>
  <f:form.select name="team" value="{filter.team}" class="form-control" options="{teams}" optionLabelField="title" optionValueField="uid" prependOptionLabel="(Team auswählen)" additionalAttributes="{onchange:'this.form.submit()'}" />
</f:form>

<br />
<p><f:link.page pageUid="{settings.PidSearch}"><span class="glyphicon glyphicon-chevron-right"></span> Suchformular</f:link.page></p>
<p><a href="https://www.fku.ch/dateien/data/allgemein/Zustaendigkeiten_FKU.pdf" target="_blank"><span class="glyphicon glyphicon-chevron-right"></span> Zuständigkeiten FKU (PDF)</a></p>

</f:section>