<f:layout name="Default" />
<f:section name="main">

<h3>Kriterien</h3>

<f:form name="generatePassword" action="generatePassword">
		<div class="row form-group">
			<label for="characters" class="col-md-2 col-form-label">Zeichen-Vorrat</label>
			<div class="col-md-10">
				<f:form.textfield property="characters" value="{characters}" class="form-control" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-12">
				<div class="row form-group">
					<label for="length" class="col-md-4 col-form-label">Anzahl Zeichen</label>
					<div class="col-md-8">
						<f:form.select property="length" value="{length}" options="{8:8,9:9,10:10,11:11,12:12,13:13,14:14,15:15,16:16,17:17,18:18,19:19,20:20}" class="form-control" />
					</div>
				</div>
			</div>
			<div class="col-md-6 col-12">			
				<div class="row form-group">
					<label for="amount" class="col-md-4 col-form-label">Anz. Passwörter</label>
					<div class="col-md-8">
						<f:form.select property="amount" value="{amount}" options="{1:1,2:2,3:3,4:4,5:5,6:6,7:7,8:8,9:9,10:10}" class="form-control" />
					</div>
				</div>
			</div>
		</div>
		<f:form.submit value="Generieren" class="btn btn-primary" />
	</div>
</f:form>
<br /><br />

<f:if condition="{passwords}">
	<h3>Erstellte Passwörter</h3>
	<f:for each="{passwords}" as="password">
		<p>{password}</p>
	</f:for>
</f:if>

</f:section>