
<table class="tx-fku-people" >
	<tr>
		<td>
			<f:translate key="tx_fkupeople_domain_model_person.firstname" />
		</td>
		<td>
		{person.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fkupeople_domain_model_person.lastname" />
		</td>
		<td>
		{person.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fkupeople_domain_model_person.address" />
		</td>
		<td>
		{person.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fkupeople_domain_model_person.housenumber" />
		</td>
		<td>
		{person.housenumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fkupeople_domain_model_person.addressadd" />
		</td>
		<td>
		{person.addressadd}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fkupeople_domain_model_person.zipcode" />
		</td>
		<td>
		{person.zipcode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fkupeople_domain_model_person.city" />
		</td>
		<td>
		{person.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fkupeople_domain_model_person.phone" />
		</td>
		<td>
		{person.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fkupeople_domain_model_person.mobile" />
		</td>
		<td>
		{person.mobile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fkupeople_domain_model_person.email" />
		</td>
		<td>
		{person.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fkupeople_domain_model_person.dateofbirth" />
		</td>
		<td>
		{person.dateofbirth}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fkupeople_domain_model_person.memberstatus" />
		</td>
		<td>
		{person.memberstatus}
		</td>
	</tr>
</table>